{% extends 'base.html' %} {% block content %}
    <section class="hero is-info is-medium is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
                
            </div>
        </div>
    </section>

    <div class="container">
        <!-- START ARTICLE FEED -->
        <section class="articles">
            <div class="column is-8 is-offset-2">
                <!-- START ARTICLE -->
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content has-text-centered">
                                <p class="title article-title"><strong>Original G.S Contracting</strong></p>
                                <div class="tags has-addons level-item">
                                    {% comment %} <span class="tag is-rounded">May 10, 202X</span> {% endcomment %}
                                </div>
                            </div>
                        </div>
                        <div class="content article-body">
                            <p>Original G.S Contracting is an unparalleled construction company based in Brooklyn, NY. We specialize in renovation, repair, design, and house building, with a focus on delivering 100% customer satisfaction. Our team of experienced professionals will work closely with you to bring your vision to life, ensuring that every project is completed on time and within budget. Contact us today to learn more about how we can help build your dream home one renovation at a time.</p>
                        </div>
                    </div>
                </div>
                    </div>
                </div>
        </section>
        <!-- END ARTICLE FEED -->
        </div>
        <script async type="text/javascript" src="../js/bulma.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>
        <script>
        document.addEventListener("DOMContentLoaded", function() {
        //The first argument are the elements to which the plugin shall be initialized
        //The second argument has to be at least a empty object or a object with your desired options
        OverlayScrollbars(document.querySelectorAll("body"), { });
        });
        </script>
{% endblock %}