{% extends 'base.html' %}
{% block content %}

<section class="hero is-large">
<div class="hero-body">
  <div class="container has-text-centered">
  
    </h2>
  </div>
</div>
</section>

  <section class="blog-posts">
    <div class="container">
      <div class="columns">
        <div class="column is-10 is-offset-1">
          <div class="columns featured-post is-multiline">
            <div class="column is-12 post">
              <article class="columns featured">
                <div class="column is-7 post-img ">
                  <img src="https://i.imgur.com/KxuNnNX.png" alt="">
                </div>
                <div class="column is-5 featured-content va">
                  <div>
                    {% comment %} <h3 class="heading post-category">Our Services</h3> {% endcomment %}
                    <h1 class="title post-title">Building your dream home, one renovation at a time </h1>
                    <p class="post-excerpt">Looking to renovate or need home repairs? Call or Email us now for a free estimate!</p>
                    <br>
                    <a href="#" class="button is-info">Contact us</a>
                  </div>

                </div>
              </article>
            </div>
          </div>
          <hr>
          <div class="columns is-multiline">
            <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="https://i.imgur.com/nA6mpk4h.jpg" alt="Featured Image">
                </div>
                <div class="column is-12 featured-content ">
                  <h3 class="heading post-category">Pavers and Steps</h3>
                  <h1 class="title post-title">Full Backyard Paver Renovation</h1>
                  <p class="post-excerpt"></p>
                  <br>
                  <a href="#" class="button is-primary">Check out more here!</a>
                </div>
              </article>
            </div>
            <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="https://i.imgur.com/DfeJ86ph.jpg" alt="Featured Image">
                </div>
                <div class="column is-12 featured-content ">
                  <h3 class="heading post-category">Brickwork</h3>
                  <h1 class="title post-title">Multi-colored Brick fence</h1>
                  <p class="post-excerpt"></p>
                  <br>
                  <a href="#" class="button is-primary">Check out more here!</a>
                </div>
              </article>
      </div>

  </section>
{% endblock %}