{% extends 'base.html' %} {% block content %}

<h2 class="services">Our Services</h2> 
<div class="gallery">
 
   {% for project in projects %}
  
    
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{project.img}}" alt="{{project.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{project.name}}</p>
        <a href="{% url "project_detail" project.pk %}" class="button is-primary"> Learn more </a>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

{% endblock %}