{% extends 'base.html' %} 
{% block content %}

<div>
    <img src="{{project.img}}" alt="{{project.name}}" class= "detailpic" />

    
</div>

<section class="section">
    <div class="container has-text-centered">
        <h2 class="title">{{project.name}}</h2>
        <p>{{project.description}}</p>

        <div class="columns is-centered" style="padding: 2rem">
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-2by1">
                            <img src="https://images.pexels.com/photos/167635/pexels-photo-167635.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">John Smith</p>
                                <p class="subtitle is-6">@johnsmith</p>
                            </div>
                        </div>

                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                            <a>@bulmaio</a>.
                            <a href="#">#css</a>
                            <a href="#">#responsive</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-2by1">
                            <img src="https://images.pexels.com/photos/167635/pexels-photo-167635.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">John Smith</p>
                                <p class="subtitle is-6">@johnsmith</p>
                            </div>
                        </div>

                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                            <a>@bulmaio</a>.
                            <a href="#">#css</a>
                            <a href="#">#responsive</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-2by1">
                            <img src="https://images.pexels.com/photos/167635/pexels-photo-167635.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">John Smith</p>
                                <p class="subtitle is-6">@johnsmith</p>
                            </div>
                        </div>

                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                            <a>@bulmaio</a>.
                            <a href="#">#css</a>
                            <a href="#">#responsive</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

{% comment %} <div class="detail__img">
    <img src="{{project.img}}" alt="{{project.name}}" />
</div>
    <h1 class="title">{{project.name}}</h1>
</div>
<div class="detail__container">
    <p>{{project.description}}</p>

    <div class="detail__about">
        <div class="detail__work mb-5">
        <h4 class="title is-4">Our Work</h4>
        <!-- inside container -->
    
        

        {% for work in project.work.all %}
            <div class="work">
                <span>{{forloop.counter}}</span>
                <span><b>{{work.name}}</b></span>
                <img src="{{work.img}}" alt="{{work.name}}" />
            </div>
        {% empty %}
            <article class="message">
                <div class="message-header">
                    <p>No Picture Available</p>
                </div>
            </article>

        {% endfor %}
    </div>
<!--  above about section  -->
       
    </div>
</div> {% endcomment %}

{% endblock %}