{% extends 'base.html' %} {% block content %}

{% comment %} <h1 class="title pt-5">{{header}}</h1> {% endcomment %}

{% comment %} <form class="mb-5" method="get">
  <div class="field has-addons">
    <div class="control">
      <input class="input" type="text" name="name" placeholder="name" />
    </div>
    <div class="control">
      <input class="button is-success" type="submit" value="Search" />
    </div>
  </div>
  <a class="button is-dark" href="{% url 'project_list' %}">Clear Search</a>
</form> {% endcomment %}

<div class="gallery">
  {% for project in projects %}
  
    
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{project.img}}" alt="{{project.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{project.name}}</p>
        <a href="{% url "project_detail" project.pk %}" class="button is-primary"> Learn more </a>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

{% endblock %}